*{
  margin: 0px;
  padding: 0px;
}
.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}
 .da:hover{
  border-bottom: 2px solid rgb(253, 0, 0);
}
.dropdown .gr1{
  color: #615b5b;
}
.gr:hover{
  color: #000000;
}
.dropdown .hed{
  color: black;
  font-weight: 700;
  font-size: large;
}
.dropdown .midcol{
  color: #999696;
}
.midcol:hover{
  color: #333;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 47px;
  margin-left: 500px;
  width: 700px;
  height: max-content;
}
.dropdown:hover .dropdown-content {
  display: flex;
  justify-content: center;
  
}
.dropdown-content a {

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdow .dropdow-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  height: max-content;
}


.dropdow:hover .dropdow-content {
  display: flex;
  justify-content: center;
  
}

.dropdow-content a {

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Style for hover effect on dropdown items */
.dropdow-content a:hover {
  background-color: #a19a9a6e;
  border-radius: 50px;
}

.dropdow:hover .dropdown-content  {
  display: flex;
  justify-content: center;

}

.dropdow-content a {

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Style for hover effect on dropdown items */
.dropdown-content a:hover {
  background-color: #a19a9a6e;
  border-radius: 50px;
}

.Top{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(122, 103, 63);
  color: white ;
  width: 100%;
  height: 7vh;
  font-family: Arial, Helvetica, sans-serif;
}

.one_1{
  font-weight: bold;
}
.one_2{
  font-weight: bold;
  position: absolute;
}

.Top .one_1{
  animation: changing 5s 2s  infinite ease-in-out;
}
.Top .one_2{
  animation: changing2 5s  2s infinite ease-in-out;
}
header{
  flex-wrap: wrap;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.nav{
  display: grid;
  grid-template-columns: 0.5fr 5fr 1.2fr 0fr ;
  /* grid-template-areas: ".logo .section .input .hemp"; */
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; */
  background-color: rgb(0, 0, 0);
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.hemp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  grid-column-start: 4;
  grid-column-end: 5;

}
.hemp p:empty{

  background-color: rgb(255, 255, 255) !important;
  width: 40px;
  height: 6px;
  margin-bottom: 10px;
  border-radius: 5px;

}


.logo{
  /* grid-area: logo; */
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 2;
}

.logo img{
  height: 70px;
  width: 100px;
}
.section a{
  text-decoration: none;
  color: white;
  grid-column-start: auto;
  grid-column-end: auto;
  display: flex;
  justify-content: center;
}
.section{
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr;
}
.input{
  color: white;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;

}
.input .search{
  background-color: black;
  width:100% ;
  border: 0px;
  opacity: 1;
}
.input button:hover{
  border: 1px solid white !important;
}
#t1{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}
#t2{
  grid-column-start: 3;
  grid-column-end: 4;
  
  display: flex;
  justify-content: center;
}
#t3{
  grid-column-start: 4;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
}

.input button {
  background-color: black;
  border: 1px solid rgb(141, 139, 139);
  padding:9px;
  color: rgb(247, 243, 243);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  grid-column-start: 1;
  grid-column-end: 2;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: white ;
  text-decoration: none;
}

#t1:hover , #t2:hover , #t3:hover {
  background-color: rgba(244, 244, 245, 0.295);
  border-radius: 50px;
  padding: 3px;
}
.addsection , .addsection2 .h2 , .addsection2 .p{
  display: flex;
  justify-content: center;
}
.addsection img{
  opacity: 0.5;
  height: 350px;
  width: 40%;
}
.addsection2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sign_in{
  font-weight: bold;
  color: black;
}
.cart-main{
  height: 100vh;
}
.RS1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
.RS2{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 96vw;  
  scroll-behavior: smooth;
  overflow-x:scroll ; /* Add a scrollbar when content overflows */
  border: 1px solid #ccc;
  padding: 10px;
}
.RS2::-webkit-scrollbar {
  width: 12px; 
  height: 10px;
}.RS2::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 6px;
}

.RS2::-webkit-scrollbar-thumb {
  background-color: #3d3b3b; 
  border-radius: 6px; 
}

.RS2::-webkit-scrollbar-thumb:hover {
  background-color: #0c0c0c;
}
.tital{
  display: flex;
  justify-content: space-evenly;
}
.t2{
  color: red;
}
#i{
  color: black;
}
.footer{
  margin-top: 2%;
  padding: 10%;
  background-color: #f5f3f3;
}
.conteinar{
  
  display: flex;
  justify-content: space-evenly;
}
.c1, .c2, .c3{
  border: 1px solid gray !important;
  padding: 30px;
  border-radius: 20px;
}
.c_11{
  display: flex;
  justify-content: center;
}
.flex1{
  font-size: large;
  text-transform: uppercase ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.flex2{
  text-transform: uppercase;
  font-size: 12px ;
  font-family: Arial, Helvetica, sans-serif;
  }
.flex1, .flex2{
  display: flex;
  justify-content: center;
}
.imgs{
  display: flex;
  justify-content: center;
}
.imgs{
  gap: 20px;
}

footer{
  background-color: #0c0c0c;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;

}
footer .s1{
  grid-area: s1;
}

footer .s2{
  grid-area: s2;
}
footer .s3{
  grid-area: s3;
}
footer .s4{
  grid-area: s4;
}

.a_con{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-direction: column;
}
.s4 h3{
  margin-bottom: 30px;
}
.icon1{
  margin-bottom: 30px;
}
.s2 {
  padding-top: 20px;
}
.f_cont{
  margin-top:10px;
  padding-top: 60px;
  display: grid;
  grid-template-areas: ".s1 .s2 .s3 .s4";
 
}
.v1{
  border: 1px  solid #fff;
  border-radius: 10px;
  width: 50px;
  margin-right: 20px;
}

.v2{
  
  border: 1px  solid #fff;
  border-radius: 10px;
}
.f{
text-decoration: none;
color: #6b6969;
font-family: Arial, Helvetica, sans-serif;
}
.all{
  display: grid;
  grid-template-areas: ".left .centar .right";
  margin-top: 30px;
  padding: 30px;
}
.centar{
  grid-area: centar;
  border: 1px solid #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100px;
  gap: 10px;
  padding: 10px;
}
.left{
  width: 400px;
  grid-area: left;
}
.right{
  width: 400px;
  grid-area: right;
  opacity: 0.6;
}
.right a{
  color: #fff;
  display: flex;
  justify-content: right;
} 
.centar img{
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
#t:hover{
  background-color: rgba(244, 244, 245, 0.295);
  border-radius: 50px;
  padding: 3px;
}

@keyframes changing {
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  
  50%{
    opacity: 0;
  }
  
  100%{
    opacity: 1;
  }
  
}
@keyframes changing2 {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
  
}
@media only screen and (max-width: 768px){

  .section a{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .nav{
    display: grid;
    grid-template-columns: 2fr 0fr 3fr 2fr ;
  }
}
@media only screen and (min-width: 768px) {
  .hemp{
    display: none;
    grid-column-start: 0;
    grid-column-end: 0;
  }
}